@model AjaxDropDown.Models.Worker

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkName" class="control-label"></label>
                <input asp-for="WorkName" class="form-control" />
                <span asp-validation-for="WorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDob" class="control-label"></label>
                <input asp-for="WorkDob" class="form-control" />
                <span asp-validation-for="WorkDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select asp-for="StateId" class ="form-control" id="state" asp-items="@(new SelectList(ViewBag.States,"StateId","StateName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistId" class="control-label"></label>
                <select asp-for="DistId" class="form-control" id="district"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
